body, canvas, span, div, button, h1, h2, h3, input, p, i, em, strong, header, footer, a 
	{ box-sizing: border-box; padding: 0px; margin: 0px; font-size: 1rem; line-height: 1rem; }

/* Button defaults */
button { cursor: pointer; padding: 3px 6px; border-radius: 5px; font-size: 0.9rem; border: none;}
button:hover { background-color: black; color: white; }
button:disabled { color: limegreen; cursor: not-allowed; }
button:disabled:hover { background-color: white; color: limegreen; }

/* Inputs */
input[type=text] {
	width: 60px;
	padding: 5px;
	border: 1px solid darkgrey;
	border-radius: 5px;	
	font-size: 0.9rem;
}
select {
	padding: 5px;
	border: 1px solid darkgrey;
	border-radius: 5px;	
	font-size: 0.9rem;
}

p { position: relative; overflow: hidden; }
body { 
	background-color: rgb(0,120,120); 
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
}

/* Header */
header {
	position: absolute; 
	width: 260px; 
	top: 30px; 
	right: 50px; 
	z-index: 10000; 
}
header h1 { 
	margin-bottom: 20px;
	line-height: 3.4rem;
    letter-spacing: -0.1rem; 
	font-size: 4rem; 
	color: white; 
}
header h1 span.version { font-size: 1rem; letter-spacing: 0rem;
}
/* Header Buttons */
header p.buttons {  text-align: center; margin-bottom: 10px; }
header p.buttons button { float: left; margin: 0 3px 3px 0; }
header p.buttons.line1 button { width: 84px; }
header p.buttons.line1 button:nth-child(3) { margin-right: 0px; }

/* Header > Buttons > Design */
header p.buttons.design strong {
	display: block;
	color: white;
	padding-bottom: 10px;
	border-radius: 5px;
}
header p.buttons.design button { width: 128px; }
header p.buttons.design button:nth-child(odd) { margin-right: 0px; }

/* Header > Buttons > Plant */
header p.buttons.plant button { width: 100%; }

/* Header > Buttons > Footer */
header p.buttons.foot button { width: 128px; }
header p.buttons.foot button:nth-child(even) { margin-right: 0px; }

/* Canvas and Grass */
canvas { position: absolute; top: 0px; left: 0px; }
#grass {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-image: url(../gfx/back.png);
	height: 94px;
	z-index: 2000;
}

/* Settings Popup screen */
#settingsPopup {
	position: absolute;
	width: 600px;
	height: 400px;
	left: 0px; right: 0px; top: 0px; bottom: 0px;
	margin: auto;
	z-index: 50000;
	background-color: rgba(255,255,255,0.95);
	border-radius: 5px;
	padding: 30px;
}
#settingsClose { position: absolute; top: 12px; right: 15px; }

/* Settings Panel */
.panel { padding-top: 35px; }
.panel h2 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 600px;
	background-color: black;
	border-radius: 5px 5px 0 0;
	padding: 15px 30px;
	color: white;
}
.panel h3 { margin-bottom: 10px; }
.panel p {
	position: relative;
	margin-bottom: 15px;
	line-height: 1.2rem;
	font-size: 0.9rem;
	min-height: 30px;
}
.panel p.intro { font-weight: bold; }
.panel p.small { font-size: 0.8rem; }
.panel p.small a { font-size: 0.8rem; }
.panel p.wrap { word-wrap: break-word;  }
.panel p.underline { padding-bottom: 15px; border-bottom: 1px solid darkgrey; }
.panel p.center { text-align: center; }
.panel p button { padding: 3px 10px; border: 1px solid black; }















.panel p#dnaStrand {
	background-color: white;
	border: 1px solid darkgrey;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 2px 2px 2px grey;
	font-family: 'Nanum Brush Script', sans-serif;
	font-size: 1.5rem;
}



.panel p.share button {

	width: 105px;
	margin-bottom: 3px;
	
}




































			#treeStats {
			
				position: absolute;
				bottom: 80px;
				left: 20px;
				width: 450px;
				font-size: 1.5rem;	
			}
			#treeStats p {
				padding: 0px;
				margin: 0px;
				line-height: 1.1rem;
				color: rgba(0,0,0,0.5);
			}


















/* DNA Snippet icon and animation */
.panel p.dnaSnippet {
	position: absolute;
	background-color: black;
	color: darkgrey;
	bottom: 0px; left: 0px; right: 0px;
	margin-bottom: 0px;
	padding: 5px 0 4px 0;
	border-radius: 0 0 5px 5px;
}
.panel p.dnaSnippet strong { font-weight: normal; font-size: 0.8rem; }
.panel p.dnaSnippet span {
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin-right: 5px;
	width: 40px;
	background-image: url(../gfx/dnal.png);
	background-repeat: repeat-x;
	background-size: auto 10px;
	background-position: 5px 5px;
	height: 10px;
	animation-name: example;
	animation-duration: 3s;
    animation-iteration-count: infinite;
	animation-timing-function: linear; 
}
@keyframes example {
  from {background-position: 50px;}
  to {background-position: 6px;}
}







footer {
	font-size: 0.9rem;
	position: absolute;
	height: 45px;
	width: 100%;
	bottom: 2px;
	right: 10px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	color: white;
	z-index: 50000;
}
footer p {
	display: block;
	text-align: right;
	margin: 0px;
	padding: 0px;
}
footer a { color: white; text-decoration: none; }
footer a:visited { color: white; }
footer a:hover { color: chartreuse; }
